{% include 'widget_templates/tmpl_aspects_planets.html' %}
{% include 'widget_templates/tmpl_aspects_equal_houses.html' %}
{% include 'widget_templates/tmpl_aspects_bhava_chalita.html' %}
{% include 'widget_templates/tmpl_quant_matrices.html' %}
{% include 'widget_templates/tmpl_chart.html' %}
{% include 'widget_templates/tmpl_info.html' %}
{% include 'widget_templates/tmpl_dignities.html' %}
{% include 'widget_templates/tmpl_avasthas_calc.html' %}
{% include 'widget_templates/tmpl_shadbala_table.html' %}
{% include 'widget_templates/tmpl_yoga_judgment.html' %}
{% include 'widget_templates/tmpl_master_diagnostic.html' %}
{% include 'widget_templates/tmpl_planetary_evaluation.html' %}
{% include 'widget_templates/tmpl_classical_yogas.html' %}
{% include 'widget_templates/tmpl_dashas_timeline.html' %}
{% include 'widget_templates/tmpl_ashtakavarga.html' %}
{% include 'widget_templates/tmpl_vimshopaka.html' %}
{% include 'widget_templates/tmpl_planetary_info.html' %}
{% include 'widget_templates/tmpl_nakshatras.html' %}
{% include 'widget_templates/tmpl_rashi_drishti.html' %}
{% include 'widget_templates/tmpl_sign_attributes.html' %}
{% include 'widget_templates/tmpl_notes.html' %}
{% include 'widget_templates/tmpl_report.html' %}
